/* Import local CSS */
@import url(/styles/variables.css);
@import url(/styles/reset.css);

html { scroll-behavior: smooth; }

* {
  font-family: var(--primary-kr);
}

body {
  margin: 0;
  color: var(--black);
  line-height: 1.5em;
  font-size: 16px;
}

/* #### Common CSS #### */

/* Layout CSS */
.container {
  width: 100%;
  position: relative;
}

[class*=inner] {
  width: 1280px;
  margin: auto;
}

/* Button(viewmore) CSS */
.btn-viewmore {
  width: 180px;
  padding: 10px;
  border: 1px solid var(--deep-latte);
  border-radius: 30px;
  font-size: 20px;
  font-weight: 500;
  color: var(--deep-latte);
  background-color: var(--creamy-white);
  transition: 0.25s;
}

.btn-viewmore i {
  font-size: 16px;
  color: var(--latte);
  transform: translateY(-10%);
  padding-right: 10px;
  transition: 0.25s;
}

.btn-viewmore:hover {
  background: linear-gradient( 180deg, #A69880, #746448);
  color: white;
}

.btn-viewmore:hover i {
  color: white;
}

/* Button(page-nav) CSS */
.btn-page-nav {
  font-size: 20px;
  padding: 10px 15px;
  color: var(--deep-latte);
  border: none;
  font-weight: 500;
  background-color: var(--whitey-gray);
  margin: 0 5px;
  transition: 0.35s;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.436);
}

.btn-page-nav:hover {
  background-color: var(--deep-latte);
  color: #fff;
}

.btn-page-nav:active {
  transform: scale(95%);
}

.btn-page-nav i {
  padding: 0 7px;
  font-size: 14px;
  transform: translateY(-10%);
}

/* Search field CSS */
.search-field {
  display: inline-block;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.397);
  width: 370px;
  height: 55px;
  background-color: #fff;
}

.search-field input {
  border: none;
  font-size: 16px;
  color: var(--black);
  padding: 12px 20px;
  float: left;
  height: 100%;
  width: 77%;
}

.search-field:focus-within {
  outline: 1px solid var(--deep-latte);
  box-shadow: 0 0 10px rgba(165, 123, 5, 0.447);
}

.search-field input::placeholder {
  color: var(--silver);
}

.search-field input:focus::placeholder{
  opacity: 0;
}

.search-field button {
  width: 80px;
  height: 100%;
  border: none;
  background-color: var(--latte);
  float: right;
  transition: 0.35s;
}

.search-field button i {
  font-size: 24px;
  color: #fff;
  padding: 10px 0;
  transition: 0.35s;
}

.search-field button:hover {
  background-color: var(--deep-latte);
}

.search-field button:hover > i {
  color: var(--foam-latte);
}

/* The animation code */
@keyframes floating-effect {
  0% {margin-top: 100px;
  opacity:0;}
  100% {margin-top: 0;
  opacity:1;} 
}


/* #### Landing Page #### */

/* Header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  box-shadow:0 2px 10px rgba(128, 128, 128, 0.158);
  z-index: 100;
}

.top-banner{
  background-color: var(--foam-latte);
  margin: auto;
  display: flex;
  align-items: center;
}

.top-banner .lnb {
  width: 1280px;
  text-align: left;
  margin: auto;
  padding: 2px 0;
  font-size: 14px;
  font-family: var(--secondary-en);
  font-weight: 500;
  color: var(--dark-gray);
}

.top-banner .lnb span {
  padding: 0 7px;
  color: var(--silver);
}

.top-banner .lnb a:hover {
  color: var(--black);
}

nav {
  width: 1280px;
  height: 55px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jubilee-logo {
  text-align: left;
  flex: 1;
}

.jubilee-logo img{
  width: 100px;
  vertical-align: middle;
}

.gnb ul li {
  list-style: none;
}

.gnb {
  text-align: center;
  margin: 0 auto;
}

.gnb > ul {
  flex: 1;
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0;
  text-align: center;
}

.gnb > ul > li {
  color: var(--black);
  background-color: #fff;
  font-weight: 600;
  font-size: 20px;
  padding: 15px 0;
  margin: 0 20px;
  position: relative;
  padding-inline-start: 0;
  transition: 0.35s;
}

.gnb > ul > li:hover {
  color: var(--red-wine);
}

.gnb > ul > li:before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--red-wine);
  bottom: 0; 
  left: 50%;
  transform: translateX(-50%); 
  transition: 0.35s;
}

.gnb > ul > li:hover:before {
  width: 100%;
}

.gnb > ul > li > ul {
  width: 120px;
  height: auto;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  box-shadow: 2px 2px 8px rgba(128, 128, 128, 0.368);
  position: absolute;
  top: 55px;
  padding-inline-start: 0;
  opacity: 0;
  transition: 0.4s;
}

.gnb > ul > li:hover > ul {
  opacity: 1;
}

.gnb > ul > li > ul > li {
  color: var(--black);
  padding: 6px 10px;
  transition: 0.2s;
}

.gnb > ul > li > ul > li:hover {
  color: white;
  background-color: var(--red-wine);
}

.gnb-mobile {
  display: none;
}

.gnb-mobile.active {
  display: none;
}

/* go-youtube button*/
.goyoutube {
  flex: 1;
  text-align: right;
  opacity: 1;
  visibility: visible;
  transition: 0.35s;
}

.goyoutube img {
  width: 70px;
}

.goyoutube a {
  vertical-align: middle;
}

.goyoutube p {
  font-size: 12px;
  font-family: var(--secondary-kr);
  font-weight: 600;
  color: var(--youtube-red);
  margin: 0;
  padding: 0;
  line-height: 1;
}

.goyoutube p span {
  color: var(--black);
}

/* trigger-layover */
.trigger-layover.active {
  background-color: #000000;
  z-index: 90;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 60%;
  transition: 0.5s;
  display: none;
}

/* Main_Intro */
/* intro-first */
.slide {
  opacity: 0;
  display: none;
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

.intro-background {
  height: 880px;
  background: url(/resources/images/landing/intro_image00.png) no-repeat center center;
  background-size: cover; 
  margin-bottom: 30px;
}

.intro {
  height: 880px;
  margin-bottom: 30px;
  background: url(/resources/images/landing/intro_image01.jpg) no-repeat center center;
  background-size: cover; 
}

.intro .intro-slider {
  color: white;
  position: absolute;
  top: 150px;
}

.intro .slider-heading p, .slider-heading em {
  font-family: var(--intro-title);
  letter-spacing: -2px;
  font-size: 55px;
  margin-bottom: 40px;
}

.intro .slider-heading b {
  font-family: var(--intro-title);
  letter-spacing: -2px;
  font-weight: normal;    
  font-size: 45px;
  color: var(--foam-latte);
}

.intro .slider-heading em {
  font-style: normal;
  color: var(--foam-latte);
}

.intro .slider-desc {
  margin-left: 80px;
}

.intro .slider-desc p, .slider-desc span {
  font-family: var(--tertiary-kr);
  font-weight: 400;
}

.intro .slider-desc p {
  font-size: 18px;
  margin-bottom: 12px;
}

.intro .slider-desc p:nth-child(2),.slider-desc p:nth-child(3) {
  display: inline;
}

.intro .slider-desc p:nth-child(2) {
  padding-left: 30px;
}

.intro .slider-desc p:nth-child(3) {
  padding-left: 5px;
}

.intro .slider-desc span {
  font-size: 24px;
}

/* intro-second */
.intro-second {
  height: 880px;
  margin-bottom: 30px;
  background: url(/resources/images/landing/intro_image02.jpg) no-repeat center center;
  background-size: cover;  
}

.intro-second .intro-slider {
  color: white;
  position: absolute;
  top: 170px;
  left: 48%;
}

.intro-second .slider-heading p, .intro-second .slider-heading em {
  font-family: var(--intro-title);
  letter-spacing: -2px;
  font-size: 55px;
  margin-bottom: 40px;
}

.intro-second .slider-heading b {
  font-family: var(--intro-title);
  letter-spacing: -2px;
  font-weight: normal;    
  font-size: 45px;
  color: var(--foam-latte);
}

.intro-second .slider-heading em {
  font-style: normal;
  color: var(--foam-latte);
}

.intro-second .slider-desc {
  margin-left: 120px;
}

.intro-second .slider-desc p, .intro-second .slider-desc span {
  font-family: var(--tertiary-kr);
  font-weight: 400;
}

.intro-second .slider-desc p {
  font-size: 18px;
  margin-bottom: 12px;
}

.intro-second .slider-desc p:first-child {
  margin-left: 20px;
}

.intro-second .slider-desc p:nth-child(2), .intro-second .slider-desc p:nth-child(3) {
  display: inline;
}

.intro-second .slider-desc p:nth-child(3) {
  padding-left: 5px;
}

.intro-second .slider-desc span {
  font-size: 24px;
}

/* intro-third */
.intro-third {
  height: 880px;
  margin-bottom: 30px;
  background: url(/resources/images/landing/intro_image03.jpg) no-repeat center center;
  background-size: cover;  
}

.intro-third .intro-slider {
  color: white;
  position: absolute;
  top: 190px;
  left: 35%;
}

.intro-third .slider-heading p, .intro-third .slider-heading em {
  font-family: var(--intro-title);
  letter-spacing: -2px;
  font-size: 55px;
  margin-bottom: 40px;
}

.intro-third .slider-heading em {
  font-style: normal;
  color: var(--foam-latte);
}

.intro-third .slider-desc {
  margin-left: 120px;
}

.intro-third .slider-desc p, .intro-third .slider-desc span {
  font-family: var(--tertiary-kr);
  font-weight: 400;
}

.intro-third .slider-desc p {
  font-size: 18px;
  margin-bottom: 12px;
}

.intro-third .slider-desc p:first-child {
  margin-left: -40px;
}

.intro-third .slider-desc p:nth-child(2), .intro-third .slider-desc p:nth-child(3) {
  display: inline;
}

.intro-third .slider-desc p:nth-child(3) {
  padding-left: 5px;
}

.intro-third .slider-desc span {
  font-size: 24px;
}

/* intro-fourth */
.intro-fourth {
  height: 880px;
  margin-bottom: 30px;
  background: url(/resources/images/landing/intro_image04.jpg) no-repeat center center;
  background-size: cover;  
}

.intro-fourth .intro-slider {
  color: white;
  position: absolute;
  top: 290px;
  left: 15%;
}

.intro-fourth .slider-heading p, .intro-fourth .slider-heading em {
  font-family: var(--intro-title);
  letter-spacing: -2px;
  font-size: 55px;
  margin-bottom: 40px;
}

.intro-fourth .slider-heading b {
  font-family: var(--intro-title);
  letter-spacing: -2px;
  font-weight: normal;    
  font-size: 45px;
  color: var(--foam-latte);
}

.intro-fourth .slider-heading em {
  font-style: normal;
  color: var(--foam-latte);
}

.intro-fourth .slider-desc {
  margin-left: 70px;
}

.intro-fourth .slider-desc p, .intro-fourth .slider-desc span {
  font-family: var(--tertiary-kr);
  font-weight: 400;
}

.intro-fourth .slider-desc p {
  font-size: 18px;
  margin-bottom: 12px;
}

.intro-fourth .slider-desc p:first-child {
  margin-left: 20px;
}

/* .intro-fourth .slider-desc p:nth-child(2), .intro-fourth .slider-desc p:nth-child(3) {
  display: inline;
} */
.intro-fourth .slider-desc p:nth-child(2) em {
  font-style: normal;
  font-family: var(--tertiary-kr);
}

.intro-fourth .slider-desc p:nth-child(3) {
  padding-left: 5px;
}

.intro-fourth .slider-desc span {
  font-size: 24px;
}

/* intro-fifth */
.intro-fifth {
  height: 880px;
  margin-bottom: 30px;
  background: url(/resources/images/landing/intro_image05.jpg) no-repeat center center;
  background-size: cover; 
}

.intro-fifth .intro-slider {
  color: white;
  position: absolute;
  top: 170px;
}

.intro-fifth .slider-heading p, .intro-fifth .slider-heading em {
  font-family: var(--intro-title);
  letter-spacing: -2px;
  font-size: 55px;
  margin-bottom: 40px;
}

.intro-fifth .slider-heading b {
  font-family: var(--intro-title);
  letter-spacing: -2px;
  font-weight: normal;    
  font-size: 45px;
  color: var(--foam-latte);
}

.intro-fifth .slider-heading em {
  font-style: normal;
  color: var(--foam-latte);
}

.intro-fifth .slider-desc {
  margin-left: 20px;
}

.intro-fifth .slider-desc p, .intro-fifth .slider-desc span {
  font-family: var(--tertiary-kr);
  font-weight: 400;
}

.intro-fifth .slider-desc p {
  font-size: 18px;
  margin-bottom: 12px;
}

.intro-fifth .slider-desc p:first-child {
  margin-left: 30px;
}

.intro-fifth .slider-desc p:first-child em {
  font-style: normal;
  font-family: var(--tertiary-kr);
}

.intro-fifth .slider-desc p:nth-child(2), .intro-fifth .slider-desc p:nth-child(3) {
  display: inline;
}

.intro-fifth .slider-desc p:nth-child(3) {
  padding-left: 5px;
}

.intro-fifth .slider-desc span {
  font-size: 24px;
}

/* intro-sixth */
.intro-sixth {
  height: 880px;
  margin-bottom: 30px;
  background: url(/resources/images/landing/intro_image06.jpg) no-repeat center center;
  background-size: cover; 
}

.intro-sixth .intro-slider {
  color: white;
  position: absolute;
  top: 220px;
}

.intro-sixth .slider-heading p, .intro-sixth .slider-heading em {
  font-family: var(--intro-title);
  letter-spacing: -2px;
  font-size: 55px;
  margin-bottom: 40px;
}

.intro-sixth .slider-heading b {
  font-family: var(--intro-title);
  letter-spacing: -2px;
  font-weight: normal;    
  font-size: 45px;
  color: var(--foam-latte);
}

.intro-sixth .slider-heading em {
  font-style: normal;
  color: var(--foam-latte);
}

.intro-sixth .slider-desc {
  margin-left: 80px;
}

.intro-sixth .slider-desc p, .intro-sixth .slider-desc span {
  font-family: var(--tertiary-kr);
  font-weight: 400;
}

.intro-sixth .slider-desc p {
  font-size: 18px;
  margin-bottom: 12px;
}

.intro-sixth .slider-desc p:first-child {
  margin-left: -60px;
}

.intro-sixth .slider-desc p:nth-child(2), .intro-sixth .slider-desc p:nth-child(3) {
  display: inline;
}

.intro-sixth .slider-desc p:first-child em {
  font-family: var(--tertiary-kr);
  font-style: normal;
}

.intro-sixth .slider-desc p:nth-child(3) {
  padding-left: 5px;
}

.intro-sixth .slider-desc span {
  font-size: 24px;
}

/* intro-seventh */
.intro-seventh {
  height: 880px;
  margin-bottom: 30px;
  background: url(/resources/images/landing/intro_image07.jpg) no-repeat center center;
  background-size: cover; 
}

.intro-seventh .intro-slider {
  color: white;
  position: absolute;
  top: 160px;
  left: 45%;
}

.intro-seventh .slider-heading p, .intro-seventh .slider-heading em {
  font-family: var(--intro-title);
  letter-spacing: -2px;
  font-size: 55px;
  margin-bottom: 40px;
}

.intro-seventh .slider-heading em {
  font-style: normal;
  color: var(--foam-latte);
}

.intro-seventh .slider-desc {
  margin-left: 25px;
}

.intro-seventh .slider-desc p, .intro-seventh .slider-desc span {
  font-family: var(--tertiary-kr);
  font-weight: 400;
}

.intro-seventh .slider-desc p {
  font-size: 18px;
  margin-bottom: 12px;
}

.intro-seventh .slider-desc p:first-child {
  margin-left: 0;
}

/* .intro-seventh .slider-desc p:nth-child(2), .intro-seventh .slider-desc p:nth-child(3) {
  display: inline;
} */

.intro-seventh .slider-desc p:first-child em {
  font-family: var(--tertiary-kr);
  font-style: normal;
}

.intro-seventh .slider-desc p:nth-child(2) {
  padding-left: 80px;
}

.intro-seventh .slider-desc p:nth-child(3) {
  padding-left: 50px;
}

.intro-seventh .slider-desc span {
  font-size: 24px;
}

.slide-indicator {
  z-index: 50;
  font-size: 14px;
  transform: translateY(-800%);
}

.slide-indicator i {
  padding: 0 4px;
  color: var(--latte);
}

.slide-indicator i.active {
  color: #ffffff;
}

.intro-shortcut {
  position: absolute;
  top: 770px;
  left: 58%;
  display: flex;
  z-index: 50;
  animation-name: floating-effect;
  animation-duration: 1.2s;
}

.intro-shortcut .shortcut-item {
  display: inline-block;
  width: 120px;
  height: 120px;
  border: 3px solid var(--foam-latte);
  margin-left: 5px;
  border-radius: 10px;
  color: var(--deep-latte);
  background-color: var(--creamy-white);
  text-align: center;
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.336);
  opacity: 90%;
  transition: 0.35s;
}

.intro-shortcut .shortcut-item:hover {
  transform: translateY(-7%);
  opacity: 100%;
  box-shadow: 1px 10px 10px rgba(128, 128, 128, 0.24);
}

.intro-shortcut .shortcut-item:hover > i {
  color: var(--deep-latte);
}

.intro-shortcut .shortcut-item i, .intro-shortcut .shortcut-item h4 {
  transform: translateY(40%);
  transition: 0.35s;
}

.intro-shortcut .shortcut-item i {
  font-size: 45px;
  color: var(--latte);
}

.intro-shortcut .shortcut-item h4 {
font-family: var(--secondary-kr);
padding-top: 20px
}

/* Section common */
.landing section {
  text-align: center; 
}

section.floating {
  animation-name: floating-effect;
  animation-duration: 1.8s;
}

/* Section_Sermon */
.sermons {
  padding-top: 100px;
}

.sermon-summary .heading h1 {
  font-weight: 600;
  position: relative;
}

.sermon-summary .heading h1:after {
  content:'Sermon';
  font-family: var(--decor-font);
  color: var(--latte);
  display: inline-block;
  transform: translate(-20px,20px);
  font-size: 40px;
  position: absolute;
  opacity: 30%;
}

.sermon-summary hr {
  width: 50px;
  height: 2px;
  border: none;
  background-color: var(--red-wine);
  margin: 40px auto;
}

.sermon-summary .sermon-contents {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.sermon-contents i {
  position: absolute;
  top: 50%;
  font-size: 26px;
  display: none;
  transform: translateY(-50%);
}

.sermon-contents i.fa-solid.fa-chevron-left {
  left: 0;
}

.sermon-contents i.fa-solid.fa-chevron-right {
  right: 0;
}

.sermon-contents a.sermon-card {
  display: inline-block;
  width: 305px;
  height: auto;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.42);
  border-radius: 10px 0 10px 0;
  overflow: hidden;
  transition: 0.4s;
}

.sermon-contents a.sermon-card:hover {
  transform: translate(-1%, -3%);
  box-shadow: 5px 10px 10px rgba(128, 128, 128, 0.174);
}

.sermons img {
  width: 100%;
}

a.sermon-card {
  text-align: left;
}

.card-desc {
  height: 120px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-desc .card-badge span {
  font-size: 12px;
  display: inline-block;
  background-color: var(--red-wine);
  padding: 0 8px;
  color: white;
  border-radius: 3px;
}

.card-desc .card-badge em {
  font-style: normal;
  padding-left: 5px;
  font-size: 14px;
  font-weight: 500;
  color: var(--red-wine);
}

.card-desc h4 {
  margin: 0;
  width: 275px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card-desc b {
  font-weight: 500;
  font-size: 16px;
  color: var(--deep-latte);
}

.btn-viewmore {
  margin: 50px auto;
}

/* Section_News */
section.news {
  background-color: var(--creamy-white);
  padding-top: 100px;
}

.news-summary .heading h1 {
  font-weight: 600;
  position: relative;
}

.news-summary .heading h1:after {
  content:'Greetings';
  font-family: var(--decor-font);
  color: var(--latte);
  display: inline-block;
  transform: translate(-20px,20px);
  font-size: 40px;
  position: absolute;
  opacity: 30%;
}

.news-summary hr {
  width: 50px;
  height: 2px;
  border: none;
  background-color: var(--red-wine);
  margin: 40px auto;
}

.news-contents {
  display: flex;
}

.news-contents .news-sum table {
  width: 590px;
  border-collapse: collapse;
  table-layout: fixed;
}

.news-contents .news-sum .btn-view {
  margin-right: 100px;
}

.news-contents .news-sum table tr {
  height: 60px;
  border-bottom: 1px solid var(--deep-latte);
}

.news-contents .news-sum table tr:first-child {
  border-top: 1px solid var(--deep-latte);
}

.news-contents .news-sum table tr td:first-child {
  text-align: left;
  font-size: 20px;
  padding-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.news-contents .news-sum table tr td:first-child:hover {
  color: var(--red-wine);
}

.news-contents .news-sum table tr td:last-child {
  text-align: right;
  color: var(--deep-latte);
  padding-right: 10px;
}

.news-contents .news-sum button.btn-viewmore {
  margin-top: 30px;
}

.news-contents .news-cards {
  width: 590px;
  margin-left: 100px;
}

.news-cards .newscard-item {
  display: inline-block;
  width: 100%;
  /* height: 80px; */
  border: 1px solid var(--latte);
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid var(--latte);
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.304);
  padding: 25px 30px;
  align-items: center;
  transition: 0.35s;
}

.news-cards .newscard-item:last-child {
  margin-bottom: 0;
}

.news-cards .newscard-item .item-title {
  display: flex;
  align-items: center;
}

.item-title i {
  width: 30px;
  font-size: 28px;
  transform: translateY(5%)
}

.item-title.first i {
  color: var(--red-wine);
}

.item-title.second i {
  color: var(--olive);
}

.item-title.third i.fa-solid.fa-children {
  color: var(--mustard);
}

.item-title.third i.fa-brands.fa-instagram {
  background: linear-gradient( 180deg, #6228d7,#ee2a7b,#f9ce34);
  background-clip: text;
  -webkit-background-clip: text;
  color: rgb(0 0 0 / 20%);
  padding-left: 8px;
  font-size: 20px;
  transform: translateY(-20%);
}

.item-title.fourth i {
  color: var(--navy-blue);
}

.item-title h3 {
  margin: 0;
  padding-left: 20px;
}

.news-cards .newscard-item span {
  color: var(--red-wine);
}

.news-cards .newscard-item span em {
  font-style: normal;
}

.newscard-item:hover {
  transform: translateY(-5%);
  box-shadow: 1px 7px 10px rgba(128, 128, 128, 0.205);
  border: 1px solid var(--red-wine);
}

.newscard-item:hover span {
  color: var(--youtube-red);
}

/* Section_Groupcare */
section.groupcare {
  background-color: var(--white);
  padding-top: 100px;
}

.groupcare .heading h1 {
  font-weight: 600;
  position: relative;
}

.groupcare .heading h1:after {
  content:'Groupcare';
  font-family: var(--decor-font);
  color: var(--latte);
  display: inline-block;
  transform: translate(-20px,20px);
  font-size: 40px;
  position: absolute;
  opacity: 30%;
}

.groupcare hr {
  width: 50px;
  height: 2px;
  border: none;
  background-color: var(--red-wine);
  margin: 40px auto;
}

.groupcare-background {
  position: relative;
}

.groupcare-background .bg-top {
  width: 82%;
  height: 130px;
  background: linear-gradient(180deg, #DFD8CF, transparent);
  position: absolute;
  z-index: -1;
  border-radius: 0 80px 0 0;
  top: 105px;
  opacity: 60%;
}

.groupcare-background .bg-letter {
  font-family: var(--background-font);
  color: var(--foam-latte);
  font-size: 230px;
  opacity: 25%;
  position: absolute;
  letter-spacing: -15px;
  z-index: -1;
}

.groupcare-background .bg-letter.jubilee {
  top: 320px;
}

.groupcare-background .bg-letter.church {
  top: 500px;
  right: 0;
}

.groupcare-contents {
  display: flex;
  margin-bottom: 150px;
}

.cards-internal {
  display: flex;
}

.cards-internal a {
  margin-right: 20px;
}

.cards-internal .leftcard {
  width: 200px;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.646);
  transition: 0.35s;
}

.cards-internal .leftcard:hover {
  transform: translateY(-5%);
  box-shadow: 1px 10px 10px rgba(128, 128, 128, 0.26);
  filter: brightness(120%);
}

.cards-internal .leftcard:before {
  content: '';
  width: inherit;
  height: inherit;
  background: linear-gradient(180deg, #333333, transparent);
  position: absolute;
  top: 0;
  left: 0;
}

.cards-internal h2 {
  color: white;
  position: relative;
  font-family: var(--secondary-kr);
}

.cards-internal .leftcard.igm {
  background: url(/resources/images/landing/groupcare_image01.jpg) no-repeat center center;
  background-size: cover;
  border-radius: 40px 0 0 40px;
  position: relative;
}

.cards-internal .leftcard.igm h2 {
  position: absolute;
  bottom: 5%;
  right: 10%;
}

.cards-internal .leftcard.youngadults {
  background: url(/resources/images/landing/groupcare_image02.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  margin-top: 35px;
}

.cards-internal .leftcard.youngadults h2 {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(0,-50%)
}

.cards-internal .leftcard.adults{
  background: url(/resources/images/landing/groupcare_image03.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  margin-top: 50px;
}

.cards-internal .leftcard.adults h2 {
  position: absolute;
  width:100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  line-height: 1.5;
}

.cards-internal .leftcard.disciples {
  background: url(/resources/images/landing/groupcare_image04.jpg) no-repeat right -200px center;
  background-size: cover;
  border-radius: 0 40px 40px 0;
  margin-top: 65px;
}

.cards-internal .leftcard.disciples h2 {
  position: absolute;
  width: 100%;
  bottom: 45%;
  right: 10%;
  text-align: right;
  line-height: 1.5;
}

.cards-external {
  margin-left: 20px;
  margin-top: 20px;
}

.cards-external h4 {
  font-weight: 500;
  color: var(--deep-latte);
  text-align: left;
}

.cards-external .rightcard {
  width: 360px;
  height: 130px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.646);
  transition: 0.35s;
}

.cards-external .rightcard:hover {
  transform: translateY(-5%);
  box-shadow: 1px 10px 10px rgba(128, 128, 128, 0.26);
  filter: brightness(120%);
}

.cards-external .rightcard:before {
  content: '';
  width: inherit;
  height: inherit;
  background: linear-gradient(180deg, #333333, transparent);
  position: absolute;
  top: 0;
  left: 0;
}

.cards-external h2 {
  color: white;
  position: relative;
  font-family: var(--secondary-kr);
}

.cards-external .korean-school {
  background: url(/resources/images/landing/groupcare_image05.jpg) no-repeat center center;
  background-size: cover;
  border-radius: 40px 0 0 0;
}

.cards-external .korean-school h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-40%);
}

.cards-external .digital-library {
  background: url(/resources/images/landing/groupcare_image06.jpg) no-repeat center center;
  background-size: cover;
  border-radius: 0 0 40px 0;
}

.cards-external .digital-library h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-40%);
}

/* Section_Scripture */
.scripture {
  background: url(/resources/images/landing/scripture-bg.jpg) no-repeat top center;
  background-size: cover;
  height: 260px;
}

.scripture-inner {
  position: relative;
  height: inherit;
}

.scripture-contents {
  position: absolute;
  top: 20%;
  right: 0;
  text-align: right;
}

.scripture-contents i {
  display: block;
  text-align: center;
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
  opacity: 70%;
}

.scripture-contents p {
  color: var(--latte);
  font-weight: 600;
  font-family: var(--secondary-kr);
  margin-top: 5px;
}

.scripture-contents p span {
  font-weight: 400;
}

/* Footer */
footer {
  background-color: var(--light-black);
  padding: 70px 0;
  height: auto;
}

.footer-contents {
  display: flex;
} 

.church-logo {
  display: flex;
  flex: 1;
}

.church-logo img {
  width: 60px;
  height: 60px;
  margin-right: 12px;
}

.church-logo .church-name {
  color: white;
}

.church-logo .church-name h5 {
  font-family: var(--tertiary-kr);
  margin: 0;
}

.church-logo .church-name p {
  margin: 0;
  padding-top: 3px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  font-family: var(--primary-en);
  letter-spacing: 0.4px;
}

.church-info {
  flex: 1;
  color: var(--light-gray);
  font-family: var(--tertiary-kr);
  text-align: center;
  line-height: 1.7;
  letter-spacing: 0.3px;
}

.church-info hr {
  width: 40px;
  height: 2px;
  border: none;
  background-color: var(--dark-gray);
  color: var(--dark-gray);
  margin: 40px auto;
}

.church-youtube {
  flex: 1;
  text-align: right;
  color: white;
}

.church-youtube .youtube-name i {
  font-size: 24px;
  transform: translateY(5%);
  padding-right: 2px;
}

.church-youtube .youtube-name h3 {
  display: inline-block;
  font-family: 'Rum Raisin';
  margin: 0;
}

.goto-youtube h4 {
  margin: 0;
  padding-top: 5px;
  font-weight: normal;
  font-family: var(--tertiary-kr);
  line-height: 1.3;
}

.goto-youtube h4 i {
  padding-left: 7px;
  font-size: 26px;
  transform: translateY(20%);
  color: var(--foam-latte);
}

footer .copyright {
  text-align: center;
  color: var(--foam-latte);
  font-family: var(--tertiary-kr);
  margin: 0;
  font-weight: 300;
}

/* Go-to-top */
.goto-top {
  position: fixed;
  width: 50px;
  height: 50px;
  background: linear-gradient(180deg, #A69880, #746448);
  border-radius: 50%;
  right: 50px;
  bottom: -50px;
  opacity: 0;
  color: #fff;
  text-align: center;
  font-size: 24px;
  line-height: 50px;
  box-shadow: 2px 2px 5px rgba(106, 106, 106, 0.805);
  transition: 0.5s;
}

.goto-top.active{
  bottom: 40px;
  opacity: 1;
}


/* #### Introduction Pages #### */

/* Pages-common-styles */

.page-banner {
  width: 100%;
  height: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.page-banner:after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  background-color: var(--black);
  opacity: 65%;
}

.page-banner h1 {
  font-size: 40px;
  color: #fff;
  padding-top: 110px;
  text-align: center;
  z-index: 10;
}

section .page-contents {
  padding: 70px 0;
}

h1.sub-title {
  font-weight: 600;
  margin-bottom: 40px;
  line-height: 1.3;
}

/* Worship-services page */

.worship-services.page-banner {
  background: url(/resources/images/introduction/introduction-banner.jpg) no-repeat center center;
  background-size: cover; 
}

.worship-services-info {
  background: url(/resources/images/introduction/worship-background.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  width: 100%; 
  height: 1170px;
}

.worship-services-info:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  background-color: #fff;
  opacity: 90%;
}

.worship-services-info .worship-inner {
  position: relative;
  text-align: center;
}

.worship-services-info .worship-inner table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.worship-services-info h1 {
  margin-bottom: 35px;
  font-weight: 600;
}

.worship-services-info table {
  font-weight: 500;
  font-size: 20px;
}

.worship-services-info tr {
  height: 60px;
  border-bottom: 1px solid var(--light-gray);
  transition: 0.35s;
}

.worship-services-info tr:hover {
  background-color: white;
}

.worship-services-info table tr:first-child {
  border-top: 3px solid var(--latte);
}

.worship-services-info table tr:nth-child(4) {
  border-bottom: 2px solid var(--latte);
}

.worship-services-info table tr:last-child {
  border-bottom: 3px solid var(--latte);
}

.worship-services-info table tr td:nth-child(2) {
  color: var(--deep-latte);
}

.worship-services-info table tr td:nth-child(3) {
  color: var(--dark-gray);
}

.worship-lower {
  margin-top: 70px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.worship-lower table {
  font-size: 16px;
}

.worship-lower tr td:first-child {
  font-size: 20px;
}

.worship-left {
  flex: 1;
}

.worship-right {
  flex: 1;
}

.worship-lower tr td span {
  font-size: 12px;
}

/* Ministry-values page */

.ministry-values.page-banner {
  background: url(/resources/images/introduction/introduction-banner.jpg) no-repeat center center;
  background-size: cover; 
}

.ministry-values-heading {
  background-color: rgba(223, 216, 207, 0.40);
  border-radius: 30px 0 30px 0;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ministry-values-heading h1, .ministry-values-heading h1 span {
  font-weight: 600;
  font-size: 28px;
  font-family: var(--secondary-kr);
  line-height: 1.3;
  margin-bottom: 0;
}

.ministry-values-heading h1 span {
  color: var(--deep-latte);
}

.ministry-values-heading hr {
  width: 40px;
  height: 1px;
  border: none;
  background-color: var(--latte);
  margin: 20px auto;
}

.ministry-values-heading h3 {
  font-family: var(--tertiary-kr);
  font-weight: 400;
  line-height: 1.5;
  color: var(--deep-latte);
  text-align: center;
  width: 75%;
  margin-bottom: 0;
  font-size: 22px;
}

.ministry-seven-values {
  margin: 80px 0;
}

.ministry-seven-values h1 span {
  color: var(--red-wine);
}

.ministry-seven-values h1 em {
  font-style: normal;
  font-family: var(--primary-en);
  font-weight: normal;
  font-size: 28px;
}

.ministry-seven-values .value-contents {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--creamy-white);
  border-radius: 100px 20px 20px 100px;
  width: 95%;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.441);
  transition: 0.35s;
  margin-bottom: 15px;
}

.ministry-seven-values .value-contents:hover {
  background-color: #fff;
  transform: translateY(-5px);
  box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.441);
}

.ministry-seven-values .value-contents .value-numbering {
  flex-basis: 75px;
  height: 75px;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.4);
}

.value-numbering h2, .value-numbering h3 {
  margin: 0;
  font-family: var(--tertiary-kr);
  color: #fff;
  transform: translateY(43%);
}

.value-numbering h2 {
  margin-bottom: 3px;
  font-weight: 400;
  color: var(--whitey-gray);
}

.value-numbering h3 {
  font-weight: normal;
  font-size: 22px;
}

.value-desc {
  padding-left: 20px;
}

.value-desc h4 {
  margin-bottom: 0;
}

.ministry-seven-values .first-value .value-numbering, .ministry-seven-values .fifth-value .value-numbering {
  background-color: var(--dark-gray);
}

.ministry-seven-values .second-value .value-numbering, .ministry-seven-values .fourth-value .value-numbering, .ministry-seven-values .seventh-value .value-numbering {
  background-color: var(--deep-latte);
}

.ministry-seven-values .third-value .value-numbering, .ministry-seven-values .sixth-value .value-numbering {
  background-color: var(--latte);
}

.value-desc h4 span {
  color: var(--red-wine)
}

.ministry-twelve-rules {
  margin-top: 80px;
}

.ministry-twelve-rules h1 span {
  color: var(--red-wine);
}

.rules-kapc img {
  float: left;
  margin-right: 20px;
  transform: translateY(15%);
}

.rules-kapc, .rules-desc {
  font-size: 20px;
  line-height: 1.5;
}

.rules-kapc {
  color: var(--deep-latte);
}

.rules-kapc p span {
  color: var(--red-wine)
}

.rules-desc {
  margin-bottom: 30px;
}

.rules-details .rules-detail-heading {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  background-color: var(--latte);
  padding: 15px 0;
  color: #fff;
}

.rules-details .rules-detail-heading i {
  font-size: 16px;
}

/* 12신조 열기- active클래스 추가했을 때 */
.rules-details .rules-detail-heading.active i {
  transform: rotate(180deg);
  font-size: 16px;
}

.rules-details ol.rules-detail-words {
  padding: 15px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.434);
  margin: 0;
  padding-left: 40px;
  line-height: 1.8;
  display: none;
}

/* 12신조 열기- active클래스 추가했을 때 */
.rules-details ol.rules-detail-words.active {
  display: block;
}

.rules-details ol.rules-detail-words li {
  padding-left: 5px;
}

/* New-members page */

.new-members.page-banner {
  background: url(/resources/images/introduction/introduction-banner.jpg) no-repeat center center;
  background-size: cover; 
}

.new-members-heading {
  background-color: rgba(140, 31, 31, 0.10);
  border-radius: 30px 0 30px 0;
  text-align: center;
  padding: 60px 5px;
  margin-bottom: 70px;
}

.new-members-heading .fa-solid.fa-quote-left {
  float: left;
  color: #fff;
  font-size: 120px;
  text-shadow: 1px 1px 5px rgba(128, 128, 128, 0.591);
  transform: translateY(-80%);
  opacity: 50%;
}

.new-members-heading .fa-solid.fa-quote-right {
  float: right;
  color: #fff;
  font-size: 120px;
  text-shadow: 1px 1px 5px rgba(128, 128, 128, 0.591);
  transform: translateY(-20%);
  opacity: 50%;
}

.new-members-heading h2, .new-members-heading h1 {
  font-family: var(--secondary-kr);
  margin: 0;
  transform: translateX(-20%);
}

.new-members-heading h2 {
  margin-bottom: 25px;
  font-weight: 600;
}

.new-members-heading h1 {
  color: var(--red-wine);
  font-weight: 600;
}

.new-members-heading h1 span {
  font-size: 28px;
  font-family: var(--secondary-kr);
}

img.jubilee-vector {
  float: left;
  transform: translate(-30%, 50%);
}

img.tree-vector {
  float: right;
  transform: translate(-170%,-20%);
  width: 90px;
}

img.tree2-vector {
  float: right;
  transform: translate(40%,-55%);
  width: 150px;
}

.registration-graphic {
  display: flex;
  flex: 1;
  margin: 50px 0;
}

.registration-first-part,
.registration-second-part {
  display: flex;
  align-items: center;
}

.registration-graphic .circle {
  width: 180px;
  height: 180px;
  border: 4px solid #000;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registration-graphic p {
  font-family: var(--tertiary-kr);
  font-size: 24px;
  margin: 0;
  padding: 12px 0 3px 0;
  text-align: center;
  line-height: 1.2;
  letter-spacing: -1px;
  font-weight: 500;
}

.registration-graphic i {
  font-size: 53px;
}

.registration-graphic .fa-solid.fa-play {
  margin: 0 20px;
  font-size: 30px;
  color: var(--light-gray);
}

.visit-church.circle {
  border-color: var(--latte);
}

.visit-church.circle i {
  color: var(--latte);
}

.member-registration.circle {
  border-color: var(--deep-latte);
}

.member-registration.circle i {
  color: var(--deep-latte);
}

.registered-member, .engaged-member {
  text-align: center;
}

.registered-member p, .engaged-member p {
  margin-bottom: 10px;
  font-size: 20px;
}

.registered-member p, .registered-member i {
  color: var(--light-black);
}

.engaged-member p, .engaged-member i {
  color: var(--red-wine);
}

.new-membership.circle {
  border-color: var(--olive);
}

.new-membership.circle i {
  color: var(--olive);
}

.engaging-ceremony.circle {
  border-color: var(--dark-olive);
}

.engaging-ceremony.circle i {
  color: var(--dark-olive);
}

.how-to-register h2 {
  font-weight: 600;
  margin-top: 70px;
}

.how-to-register ul li {
  font-size: 20px;
  line-height: 1.5;
  list-style: circle;
}

.how-to-register button, .new-membership-class button {
  margin-top: 0;
}

.members-definition-container {
  background-color: var(--creamy-white);
}

.members-definition h2, .new-membership-class h2 {
  padding-top: 50px;
  font-weight: 600;
}

.registered-definition, .engaged-definition {
  display: flex;
  align-items: flex-start;
}

.members-definition h4 {
  color: var(--deep-latte);
}

.members-definition ul {
  margin: 0;
  flex: 1;
}

.members-definition li {
  line-height: 1.5;
}

.engaged-definition {
  margin-top: 15px;
}

.engaged-definition ul li span {
  color: var(--red-wine);
}

.new-membership-class{
  padding-bottom: 70px;
}

.new-membership-class h2 {
  color: var(--red-wine);
}

.new-membership-class ul li {
  font-size: 20px;
  line-height: 1.5;
  list-style: circle;
}

.new-members.page-contents {
  padding-bottom: 0;
}

/* Staffs page */

.staffs.page-banner {
  background: url(/resources/images/introduction/introduction-banner.jpg) no-repeat center center;
  background-size: cover; 
}

.staffs.page-contents {
  padding-top: 0;
}

.upper-staffs {
  background-color: var(--creamy-white);
  position: relative;
}

.upper-staffs-inner {
  position: relative;
}

.upper-staffs > img {
  position: absolute;
  right: 3%;
  bottom: -12%;
  width: 500px;
}

.upper-staffs h1.sub-title {
  padding-top: 70px;
}

img.profile-img {
  width: 200px;
  height: 265px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.753);
}

.senior-pastor {
  display: flex;
  padding: 20px 0 50px 0;
  align-items: flex-end;
}

.senior-pastor-profile {
  margin-left: 20px;
}

.staff-name {
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
}

.staff-name span {
  font-size: 16px;
}

.staffs .fa-regular.fa-envelope {
  color: var(--red-wine);
  font-weight: 500;
  font-size: 20px;
  padding-left: 5px;
  transition: 0.25s;
}

.staffs .fa-regular.fa-envelope:hover {
  transform: scale(120%);
  font-weight: 600;
}

.upper-staffs p, .lower-staffs p {
  margin: 0;
  padding-bottom: 4px;
}

.senior-pastor-profile p:nth-of-type(1),.pastors-profile .profile-card p:nth-of-type(1), .junior-pastors .profile-card p:nth-of-type(1), .junior-pastors-em .profile-card p:nth-of-type(1)  {
  font-size: 14px;
  color: var(--dark-gray);
}

.senior-pastor-profile p:nth-of-type(2), .pastors-profile .profile-card p:nth-of-type(2), .junior-pastors .profile-card p:nth-of-type(2), .junior-pastors-em .profile-card p:nth-of-type(2) {
  font-weight: 500;
  color: var(--deep-latte);
}

.senior-pastor-profile ul {
  padding-left: 20px;
  margin-bottom: 0;
}

.senior-pastor-profile ul li {
  font-size: 14px;
}

.lower-staffs {
  position: relative;
}

.lower-staffs img.jubilee-background {
  position: absolute;
  opacity: 3%;
  width: 1530px;
  z-index: -1;
}

.lower-staffs img.jubilee-background:nth-of-type(1) {
  top: 10%;
  left: 0;
}

.lower-staffs img.jubilee-background:nth-of-type(2) {
  bottom: 10%;
  right: 0;
}

.lower-staffs-inner {
  padding-top: 50px;
}

.lower-staffs-inner img.profile-img{
  display: block;
}

.pastors-profile, .junior-pastors, .junior-pastors-em {
  display: flex;
}

.lower-staffs-inner .profile-card {
  margin-right: 100px;
  margin-bottom: 50px;
}

.junior-pastors-em .profile-card {
  margin-bottom: 0;
}

.lower-staffs-inner .profile-card {
  text-align: center;
}

.lower-staffs-inner .profile-card .staff-name {
  padding-top: 10px;
}

/* Direction page */

.direction.page-banner {
  background: url(/resources/images/introduction/introduction-banner.jpg) no-repeat center center;
  background-size: cover; 
}

.direction-inner i {
  font-size: 22px;
}

.direction-inner h4 {
  padding: 0 10px;
  font-family: var(--secondary-en);
  font-weight: 600;
}

.jubilee-address-copy .fa-solid.fa-location-dot {
  color: var(--red-wine);
  font-size: 26px;
  padding-right: 10px;
}

.jubilee-address-copy .fa-regular.fa-copy {
  color: var(--med-gray);
  padding-left: 5px;
}

.jubilee-contact-number .fa-solid.fa-phone {
  color: var(--deep-latte);
  padding-right: 10px;
}

.jubilee-google-map {
  width: 100%;
  margin: 20px 0 30px 0;
}

/* Sermons page */

.sunday-sermons.page-banner {
  background: url(/resources/images/sermon/sermon-banner.jpg) no-repeat center center;
  background-size: cover; 
}

.sunday-sermons.page-contents {
  text-align: center;
}

.sunday-sermons-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sunday-sermons-cards .sermon-contents {
  width: 392px;
  margin-top: 50px;
}

.sunday-sermons-cards .sermon-contents a.sermon-card {
  width: 100%;
  height: 100%;
}

.sunday-sermons-cards .sermon-contents .sermon-card img {
  width: 100%;
}

.sunday-sermons-cards .sermon-contents .sermon-card .card-desc {
  height: 150px;
  padding: 20px 15px;
}

.sunday-sermons-cards .sermon-contents .sermon-card .card-desc .card-badge span {
  font-size: 16px;
  padding: 2px 8px;
}

.sunday-sermons-cards .sermon-contents .sermon-card .card-desc .card-badge em {
  font-size: 18px;
}

.sunday-sermons-cards .sermon-contents .sermon-card .card-desc h4 {
  width: 100%;
  font-size: 24px;
  font-weight: 600;
}

.sunday-sermons-cards .sermon-contents .sermon-card .card-desc b {
  font-size: 20px;
}
.sunday-sermons .btn-viewmore {
  margin-top: 80px;
}

/* Sunday-sermons-detail page */

.sunday-sermons-detail.page-banner {
  background: url(/resources/images/sermon/sermon-banner.jpg) no-repeat center center;
  background-size: cover; 
}

.sunday-sermons-detail {
  text-align: center;
}

.sunday-sermon-youtube {
  text-align: center;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.sunday-sermon-youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sunday-sermons-detail-inner h1.sub-title {
  margin: 50px 0 25px 0;
}

.sunday-sermons-detail-inner h3 {
  color: var(--red-wine);
  font-weight: 500;
  font-size: 22px;
}

.sunday-sermons-detail-inner h3 span {
  padding: 0 12px;
}

.sunday-sermons-detail-inner p {
  color: var(--deep-latte);
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0;
}

.sunday-sermons-detail hr {
  width: 50px;
  height: 1px;
  border: none;
  background-color: var(--latte);
  margin: 30px auto;
}

.todays-scripture-heading, .todays-questions-heading {
  width: 100%;
  font-size: 28px;
  border: 1px solid var(--latte);
  padding: 10px;
  font-family: var(--tertiary-kr);
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.404);
  transition: 0.25s;
  background-color: #fff;
  margin: 0;
}

.todays-scripture-heading:hover {
  cursor: pointer;
  color: var(--deep-latte);
  background-color: var(--creamy-white);
}

.todays-questions-heading:hover {
  cursor: pointer;
  color: var(--red-wine);
  background-color: var(--creamy-white);
}

.todays-scripture {
  margin-top: 60px;
}

.todays-questions {
  margin-top: 30px;
}

.todays-scripture-heading i, .todays-questions-heading i {
  padding: 10px;
}

.todays-scripture-heading .fa-solid.fa-book-open {
  color: var(--deep-latte);
}

.sunday-sermons-detail-inner .fa-solid.fa-chevron-down {
  font-size: 20px;
  color: var(--med-gray);
}
.todays-questions-heading .fa-solid.fa-heart {
  color: var(--red-wine);
}

.todays-scripture-contents {
  text-align: left;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.404);
  padding: 25px 15px 5px 15px;
  opacity: 0;
  display: none;
  transition: 0.35s;
}

.todays-scripture-contents h4 {
  margin: 0;
  padding: 0 15px;
  color: var(--deep-latte);
}

.todays-scripture-contents ol li {
  padding: 5px;  
}

.todays-questions-contents {
  padding: 15px;
  opacity: 0;
  display: none;
  transition: 0.35s;
}

.sunday-sermons-detail hr:nth-of-type(2) {
  margin: 50px auto;
}

/* 본문열기, 사랑방 질문 열기 - active클래스 추가 동작 모음 */
.todays-scripture-heading.active .fa-solid.fa-chevron-down.scripture-chevron {
  transform: rotate(180deg);
}

.todays-questions-heading.active .fa-solid.fa-chevron-down.questions-chevron {
  transform: rotate(180deg);
}

.todays-scripture-contents.active, .todays-questions-contents.active {
  opacity: 100%;
  display: block;
}

